* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
    background-image: url(Assets/Background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    align-items: center;
    margin: 8px;
    width: calc(100% - 2 * 8px);
    height: 70px;
}

.logo {
    display: flex;
    margin-left: 32px;
    color: white;
}

h1 {
    display: flex;
    margin-left: 16px;
    text-transform: uppercase;
    align-items: center;
    font-weight: 300;
    font-size: 32px;
}

nav {
    width: 100%;
    margin-right: 32px;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    height: 80px;
}

.navLink {
    margin-right: 64px;
    text-decoration: none;
    background: none;
    font-size: 16px;
    font-weight: 250;
    color: white;
}

.navImage {
    margin-right: 56px;
    height: 25%;
    width: 25%;
}

.navButton {
    padding: 8px;
    text-decoration: none;
    background: none;
    font-size: 16px;
    font-weight: 250;
    border: 2px solid #CD6326;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
}

.navLink:hover, .navImage:hover {
    opacity: 0.5;
}

.navButton:hover {
    background: #CD6326;
}

.navButton:active {
    background: #8F5613;
    border: 2px solid #8F5613;
}

main {
    padding: 120px;
}

.survival {
    margin-bottom: 50px;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
    color: #CD6326;
}

.survivalText {
    margin-bottom: 50px;
    color: white;
    width: 274px;
    height: 108px;
}

.survivalButton {
    background: #CD6326;
    border-radius: 10px;
    width: 160px;
    height: 60px;
    border: none;
}

.survivalButton > a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.survivalButton:hover {
    background: #E39128;
}

.survivalButton:active {
    background: #8F5613;
}